SIMPLE_FATOORA_API_KEY=
SIMPLE_FATOORA_SANDBOX_API_KEY=
SIMPLE_FATOORA_ENVIRONMENT=live
SIMPLE_FATOORA_TIMEOUT=15
SIMPLE_FATOORA_CONNECT_TIMEOUT=5
SIMPLE_FATOORA_RETRIES=2
SIMPLE_FATOORA_RETRY_DELAY_MS=250
SIMPLE_FATOORA_MAX_RETRY_DELAY_MS=2000
